{% extends 'inicio.html' %}

{% block title %}Ingresos - {{ super() }}{% endblock %}

{% block content %}
<head>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script defer src="{{ url_for('static', filename='js/fun_ingreso.js') }}"></script>
</head>
<body>
    <form action="" method="post">
        <p class="h5">Unidad administrativa</p>
        <input class="col-12" name="ua" id="ua" disabled />

        <p class="h5">Tipo ingreso</p>
        <select class="form-select" aria-label="Default select example" name="ti">
            <option selected>Selecciona Tipo ingreso</option>
            {% for o in ti %}
            <option value="{{o.id}}">{{o.tipo_ingreso }}</option>
            {% endfor %}
        </select>

        <p class="h5">Tipo asunto</p>
        <select class="form-select" aria-label="Default select example" name="ta">
            <option selected>Selecciona Tipo Asunto</option>
            {% for ta in asu %}
            <option value="{{ ta.id }}">{{ ta.tipo }}</option>
            {% endfor %}
        </select>

        <p class="h5">Materia</p>
        <select class="form-select" aria-label="Default select example" id="mat" name="mat">
            <option selected>Selecciona Materia</option>
            {% for m in mat %}
            <option value="{{ m.id }}">{{ m.materia }}</option>
            {% endfor %}
        </select>

        <p class="h5">Tramite</p>
        <select class="form-select" aria-label="Default select example" id="tra" name="tra" disabled>
            <option selected>Selecciona Tramite</option>
        </select>

        <p class="h5">Descripccion</p>
        <select class="form-select" aria-label="Default select example" name="des">
            <option selected>Selecciona Materia</option>
        </select>

        <p class="h5">Bitacora relacion</p>
        <input class="col-12" name="bit" id="bit" disabled />

        <p class="h5">Procedencia</p>
        <select class="form-select" aria-label="Default select example" name="pro">
            <option selected>Selecciona Materia</option>
        </select>

        <p class="h5">Clave proyecto</p>
        <input class="col-12" name="cp" id="cp" disabled />

        <p class="h5">Cadena de valor</p>
        <select class="form-select" aria-label="Default select example" name="cv">
            <option selected>Selecciona Materia</option>
        </select>

        <p class="h5">Razon social</p>
        <input class="col-12" name="rs" id="rs" disabled />

        <p class="h5">Tipo de persona</p>
        <select class="form-select" aria-label="Default select example" name="tp">
            <option selected>Selecciona Materia</option>
        </select>

        <p class="h5">Persona que ingresa el tramite</p>
        <input class="col-12" name="pit" id="pit" disabled />

        <p class="h5">Direccion General</p>
        <select class="form-select" aria-label="Default select example" name="dg">
            <option selected>Selecciona Materia</option>
        </select>

        <p class="h5">Responsable</p>
        <input class="col-12" name="res" id="res" disabled />

        <p class="h5">Contenido</p>
        <input class="col-12" name="con" id="con" disabled />

        <p class="h5">Observaciones</p>
        <input class="col-12" name="obs" id="obs" disabled />

        <p class="h5">Antecedente</p>
        <input class="col-12" name="ant" id="ant" disabled />

        <p class="h5">Clave de documento</p>
        <input class="col-12" name="cd" id="cd" disabled />

        <p class="h5">Fecha de Documento</p>
        <input class="col-12" name="fd" id="fd" disabled />

        <p class="h5">Con copia</p>
        <input class="col-12" name="cc" id="cc" disabled />

        <a type="submit" class="btn btn-primary mt-4 mb-5 col-12">Ingresar</a>
    </form>
    <script>
        Smat = document.getElementById('mat');
        Stra = document.getElementById('tra');

        Smat.onchange = function () { 

        }
    </script>
</body>
{% endblock %}
