{% extends 'inicio.html' %}

{% block title %}Ingresos - {{ super() }}{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{url_for('static',filename='js/fun_ingre.js')}}"></script>
</head>
<body>
    <form action="/hola" method="post">
        <p class="h5">Unidad administrativa</p>
        <input class="col-12" name="ua" id="ua" value="UGI" disabled />

        <p class="h5">Tipo ingreso</p>
        <select class="form-select" aria-label="Default select example" name="ti" id="ti">
            <option selected disabled>Selecciona Tipo ingreso</option>
            {% for o in ti %}
            <option value="{{o.id}}">{{o.tipo_ingreso }}</option>
            {% endfor %}
        </select>

        <p class="h5" id="lta" style="display: none;">Tipo asunto</p>
        <select class="form-select" aria-label="Default select example" name="ta" id="ta" style="display: none;">
            <option selected disabled>Selecciona Tipo Asunto</option>
            {% for ta in asu %}
            <option value="{{ ta.id }}">{{ ta.tipo }}</option>
            {% endfor %}
        </select>

        <p class="h5">Materia</p>
        <select class="form-select" aria-label="Default select example" id="mat" name="mat">
            <option selected disabled>Selecciona Materia</option>
            {% for m in mat %}
            <option value="{{ m.id }}">{{ m.materia }}</option>
            {% endfor %}
        </select>

        <p class="h5">Tr&#225;mite</p>
        <select class="form-select" aria-label="Default select example" id="tra" name="tra">
            <option selected disabled>Selecciona Tramite</option>
        </select>

        <p class="h5">Descripci&#243;n</p>
        <select class="form-select custom-select" aria-label="Default select example" id="des" name="des">
            <option selected disabled>Selecciona Descripci&#243;n</option>
            {% for d in des %}
            <option value="{{ d.id }}">{{ d.descripcion }}</option>
            {% endfor %}
        </select>

        <p class="h5">Bit&#225;cora relaci&#243;n</p>
        <input class="col-12" type="text" name="bit" id="bit" placeholder="Escribe Bitacora">

        <p class="h5">Procedencia</p>
        <select class="form-select" aria-label="Default select example" name="pro">
            <option selected>Selecciona Procedencia</option>
            {% for p in pro %}
            <option value="{{ p.id }}">{{ p.procedencia }}</option>
            {% endfor %}
        </select>

        <p class="h5">Clave proyecto</p>
        <input class="col-12" name="cp" id="cp" />

        <p class="h5">Cadena de valor</p>
        <select class="form-select" aria-label="Default select example" name="cv">
            <option selected>Selecciona Cadena de valor</option>
            {% for c in cad_val%}
            <option value="{{ c.id }}">{{ c.cadena_valor }}</option>
            {% endfor %}
        </select>

        <p class="h5">Raz&#243;n social</p>
        <input class="col-12" name="rs" id="rs" />

        <p class="h5">Tipo de persona</p>
        <select class="form-select" aria-label="Default select example" name="tp">
            <option selected>Selecciona Tipo persona</option>
            {% for t in tp%}
            <option value="{{ t.id }}">{{ t.tipo_persona }}</option>
            {% endfor %}
        </select>

        <p class="h5">Persona que ingresa el tr&#225;mite</p>
        <input class="col-12" name="pit" id="pit" />

        <p class="h5">Direcci&#243;n general</p>
        <select class="form-select" aria-label="Default select example" name="dg">
            <option selected disabled>Selecciona Direcci&#243;n general</option>
            {% for d in dirg %}
            <option value="{{ d.siglas }}">{{ d.siglas }}</option>
            {% endfor %}
        </select>

        <p class="h5">Responsable</p>
        <input class="col-12" name="res" id="res" />
        <div id="res_res"></div>

        <p class="h5">Contenido</p>
        <textarea id="con" class="col-12" rows="4" cols="50"></textarea>

        <p class="h5">Observaciones</p>
        <textarea id="obs" class="col-12" rows="4" cols="50"></textarea>

        <p class="h5">Antecedente</p>
        <input class="col-12" name="ant" id="ant" />

        <p class="h5">Clave de documento</p>
        <input class="col-12" name="cd" id="cd" />

        <p class="h5">Fecha de documento</p>
        <input type="date" class="col-12" name="fd" id="fd" />

        <p class="h5">Con copia</p>
        <input class="col-12" name="cc" id="cc" />

        <a type="submit" class="btn btn-primary mt-4 mb-5 col-12">Guardar</a>
    </form>
</body>
{% endblock %}
