{% extends 'baseinicio.html' %}

{% block title %}{{ super() }} - Ingresos-Multiples{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <!-- Agrega el bloque para mensajes flash -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h2>Ingreso Múltiples</h2>
    <form action="/foliom" method="post" class="mt-4">

        <p class="h5">Unidad administrativa</p>
        <input class="col-12" name="ua" id="ua" value="UGI" disabled />

        <p class="h5">Tipo ingreso</p>
        <select class="form-select" aria-label="Default select example" name="ti" id="ti">
            {% if request.form['ti'] %}
            <option value="{{ request.form['ti'] }}" selected>{{ ti.tipo_ingreso }}</option>
            {% else %}
            <option value="{{request.args.get('ti')}}" selected>{{ti.tipo_ingreso}}</option>
            {% endif %}
        </select>

        <p class="h5" id="lta" style="display: none;">Tipo asunto</p>
        <select class="form-select" aria-label="Default select example" name="ta" id="ta" style="display: none;">
            {% if request.form['ta'] %}
            <option value="{{request.form['ta']}}" selected>{{ta.tipo}}</option>
            {% else %}
            <option value="{{request.args.get('ta')}}" selected>{{ta.tipo}}</option>
            {% endif %}
        </select>

        <p class="h5">Materia</p>
        <select class="form-select" aria-label="Default select example" id="mat" name="mat">
            {% if request.form['mat'] %}
            <option value="{{request.form['mat']}}" selected>{{mat.materia}}</option>
            {% else %}
            <option value="{{request.args.get('mat')}}" selected>{{mat.materia}}</option>
            {% endif %}
        </select>

        <p class="h5">Tr&#225;mite</p>
        <select class="form-select" aria-label="Default select example" id="tra" name="tra">
            {% if request.form['tra'] %}
            <option value="{{request.form['tra']}}" selected>{{tra.cofemer}}</option>
            {% else %}
            <option value="{{request.args.get('tra')}}" selected>{{tra.cofemer}}</option>
            {% endif %}
        </select>

        <p class="h5">Descripci&#243;n</p>
        <select class="form-select custom-select" aria-label="Default select example" id="des" name="des">
            {% if request.form['des'] %}
            <option value="{{request.form['des']}}" selected>{{des.descripcion}}</option>
            {% else %}
            <option value="{{request.args.get('des')}}" selected>{{des.descripcion}}</option>
            {% endif %}
        </select>

        <p class="h5">Procedencia</p>
        <select class="form-select" aria-label="Default select example" id="pro" name="pro">
            {% if request.form['pro'] %}
            <option value="{{request.form['pro']}}" selected>{{pro.procedencia}}</option>
            {% else %}
            <option value="{{request.args.get('pro')}}" selected>{{pro.procedencia}}</option>
            {% endif %}
        </select>

        <p class="h5">Clave proyecto</p>
        <input class="col-12" name="cp" id="cp" />

        <p class="h5">Cadena de valor</p>
        <select class="form-select" aria-label="Default select example" id="cv" name="cv">
            {% if request.form['cv'] %}
            <option value="{{request.form['cv']}}" selected>{{cv.cadena_valor}}</option>
            {% else %}
            <option value="{{request.args.get('cv')}}" selected>{{cv.cadena_valor}}</option>
            {% endif %}
        </select>

        <p class="h5">Raz&#243;n social</p>
        {% if request.form['rs'] %}
        <input class="col-12" name="rs" id="rs" value="{{ request.form['rs']  }}" />
        {% else %}
        <input class="col-12" name="rs" id="rs" value="{{ request.args.get('rs')  }}" />
        {% endif %}


        <p class="h5">Tipo de persona</p>
        <select class="form-select" aria-label="Default select example" id="tp" name="tp">
            {% if request.form['tp'] %}
            <option value="{{request.form['tp']}}" selected>{{tp.tipo_persona}}</option>
            {% else %}
            <option value="{{request.args.get('tp')}}" selected>{{tp.tipo_persona}}</option>
            {% endif %}
        </select>

        <p class="h5">Persona que ingresa el tr&#225;mite</p>
        {% if request.form['pit'] %}
        <input class="col-12" name="pit" id="pit" value="{{ request.form['pit']}}" />
        {% else %}
        <input class="col-12" name="pit" id="pit" value="{{ request.args.get('pit')}}" />
        {% endif %}

        <p class="h5">Direcci&#243;n general</p>
        <select class="form-select" aria-label="Default select example" id="dg" name="dg">
            {% if request.form['dg'] %}
            <option value="{{request.form['dg']}}" selected>{{dg.siglas}}</option>
            {% else %}
            <option value="{{request.args.get('dg')}}" selected>{{dg.siglas}}</option>
            {% endif %}
        </select>

        <p class="h5">Responsable</p>
        <select class="form-select" aria-label="Default select example" id="res" name="res">
            {% if request.form['res'] %}
            <option value="{{request.form['res']}}" selected>{{res.nombre}}</option>
            {% else %}
            <option value="{{request.args.get('res')}}" selected>{{res.nombre}}</option>
            {% endif %}
        </select>

        <p class="h5">Llave de pago</p>
        <input class="col-12" name="llp" id="llp" />

        <div class="row mt-4 ">
            <div class="col">
                <label for="tt">Tr&#225;mites totales:</label>
                <input name="tt" id="tt" value="0" />
            </div>
            <div class="col">
                <label for="cup">Cuota de pago(MXN):</label>
                <input name="cup" id="cup" />
            </div>
            <div class="col">
                <label for="cup">Monto total(MXN):</label>
                <input name="mot" id="mot" />
            </div>
        </div>

        <p class="h5">Contenido</p>
        {% if request.form['con'] %}
        <textarea id="con" name="con" class="col-12" rows="4" cols="50">{{request.form['con']}}</textarea>
        {% else %}
        <textarea id="con" name="con" class="col-12" rows="4" cols="50">{{request.args.get('con')}}</textarea>
        {% endif %}

        <input class="col-12" name="tec" id="tec" hidden value="{{current_user.login}}" /> <!--El login del usuario activo sirve para identificar el id que le corresponde y pueda ser ingresado-->

        <p class="h5">Observaciones</p>
        {% if request.form['obs'] %}
        <textarea id="obs" name="obs" class="col-12" rows="4" cols="50">{{request.form['obs']}}</textarea>
        {% else %}
        <textarea id="obs" name="obs" class="col-12" rows="4" cols="50">{{request.args.get('obs')}}</textarea>
        {% endif %}

        <p class="h5">Antecedente</p>
        <input class="col-12" name="ant" id="ant" />

        <p class="h5">Clave de documento</p>
        <input class="col-12" name="cd" id="cd" />

        <p class="h5">Fecha de documento</p>
        <input type="date" class="col-12" name="fd" id="fd" />

        <p class="h5">Número de contrato CNH</p>
        <input class="col-12" name="cnh" id="cnh" />

        <p class="h5">Permiso CRE</p>
        <input class="col-12" name="cre" id="cre" />

        <p class="h5">Con copia</p>
        <input class="col-12" name="cc" id="cc" />

        <div class="row mt-4 mb-3">
            <a class="btn btn-danger col-6" href="/ingreso">Finalizar</a>
            <button class="btn btn-success col-6" type="submit">Agregar registro</button>
        </div>
    </form>
    <script>
        $(document).ready(function () {
            // Selecciona el elemento select por su ID
            var selectElement = $('#ti');

            // Verifica si el valor de tipo ingreso es de 2 
            if (selectElement.val() === "2") {
                // El select tiene un valor seleccionado
                $("#ta, #lta").show(1000);// muestra
            } else {
                // El select no tiene un valor seleccionado
                $("#ta, #lta").hide(1000);// oculta
                $("#ta").val("0");
            }

            if ($("#con").val() === "None") {
                console.log("entre")
                $("#con").text('hola');
            }

            if ($("#obs").val() === "None") {
                $("#obs").text(""); 
            }
        });
    </script>
</body>
{% endblock %}