{% extends 'baselogin.html' %}

{% block title %}{{ super() }} - Login{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<main class="form-signin w-100 m-auto">
    <form action="/login" method="post">
        <img class="mb-4 " src="{{ url_for('static', filename='img/asealogo2.png') }}" />
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <br />
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dimiss="alert" arial-label="close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h1 class="h3 mb-3 fw-normal">Inicio de sesi&#243;n</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="usuario" name="username" placeholder="Usuario">
            <label for="floatingInput">Usuario</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
            <label for="floatingPassword">contrase&#241;a</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
    </form>
</main>
{% endblock %}