{% extends 'baseinicio.html' %}

{% block title %}{{ super() }} - Home{% endblock %}

{% block content %}
<div class="continer">
    <div class="row">
        <div class="alert alert-success col" role="alert">
            Total de Ingresos del dia: {{ c }}
        </div>
        <h1 class="h4 col-9 text-end">Bienvenido, {{ current_user.name }}</h1>
    </div>
    <div class="row mb-3">
        <div class="col-12" style="width: 1248px; height: 636px;">
            <div>
                <canvas id="myBChart"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="width: 648px; height: 624px;">
            <div>
                <canvas id="myPChart"></canvas>
            </div>
        </div>
        <div class="col" style="width: 648px; height: 624px;">
            <div>
                <canvas id="myDChart"></canvas>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const pieCtx = document.getElementById('myPChart').getContext('2d');
    const donCtx = document.getElementById('myDChart').getContext('2d');
    const barCtx = document.getElementById('myBChart').getContext('2d');

    // Datos para la gráfica de pastel
    const pieData = {
        labels: ['ATMOSFERA', 'CAMBIO DE USO DE SUELO', 'IMPACTO AMBIENTAL', 'LINEA BASE AMBIENTAL', 'RIESGO AMBIENTAL', 'TERCEROS'],
        datasets: [{
            label: 'Num.Ingresos: ',
            data: [{{ A }}, {{ CUS }}, {{ IA }}, {{ LBA }}, {{ RA }}, {{ T }}],
        borderWidth: 1,
        }]
    };
    // Datos para la gráfica de dona
    const donData = {
        labels: ['TRAMITES', 'ASUNTOS'],
        datasets: [{
            label: 'Num.Ingresos: ',
            data: [{{ TRA }}, {{ ASU }}], // Reemplaza esto con tus propios datos
            borderWidth: 1,
        }]
    };
    // Datos para la gráfica de barras
    const barData = {
        labels: ['ATMOSFERA',
            'CAMBIO DE USO DE SUELO',
            'IMPACTO AMBIENTAL',
            'LINEA BASE AMBIENTAL',
            'RIESGO AMBIENTAL',
            'TERCEROS',
            'RESIDUOS PELIGROSOS',
            'SITIOS CONTAMINADOS',
            'SEGUROS',
            'SASISOPA',
            'POZOS DE DISPOSICION',
            'AUDITORIA AMBIENTAL',
            'RESIDUOS MANEJO ESPECIAL',
            'PROTOCOLO DE RESPUESTA A EMERGENCIA',
            'EXPENDIO SIMULTANEO',
            'METANO',
            'CIERRE, DESMANTELAMIENTO Y ABANDONO',
            'NORMAS',
            'TRANSPORTE DE PETROLEOS, PETROLIFEROS Y PETROQUIMICOS POR MEDIO DE DUCTOS',
            'YACIMIENTOS CONVENCIONALES',
            'YACIMIENTOS NO CONVENCIONALES'
        ],
        datasets: [{
            label: 'Num.Ingresos: ',
            data: [{{ A }}, {{ CUS }}, {{ IA }}, {{ LBA }}, {{ RA }}, {{ T }}, {{ RP }}, {{ SC }}, {{ S }}, {{ SAS }},{{ PD }}, {{ AA }}, {{ RME }}, {{ PRE }}, {{ ES }}, {{ M }},  {{ CDA }}, {{ N }}, {{ TPPPMD }}, {{ YC }}, {{ YNC }}],
    borderWidth: 1,
    }]
  };
    // Configuración de la gráfica de pastel
    const pieChart = new Chart(pieCtx, {
        type: 'pie',
        data: pieData,
        options: {
            scales: {
                x: {
                    display: false, // Oculta la escala en el eje x
                },
                y: {
                    display: false, // Oculta la escala en el eje y
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Ingresos por Materia'
                },
                legend: {
                    display: false //Muestra las leyendas de grafica 
                }
            }
        }
    });
    // Configuración de la gráfica de dona
    const donChart = new Chart(donCtx, {
        type: 'doughnut',
        data: donData,
        options: {
            scales: {
                x: {
                    display: false, // Oculta la escala en el eje x
                },
                y: {
                    display: false, // Oculta la escala en el eje y
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Tipo Ingreso'
                },
                legend: {
                    display: false //Muestra las leyendas de grafica 
                }
            }
        }
    });
    // Configuración de la gráfica de barras
    const barChart = new Chart(barCtx, {
        type: 'bar',
        data: barData,
        options: {
            scales: {
                x: {
                    display: false, // Oculta la escala en el eje x
                },
                y: {
                    display: true, // Oculta la escala en el eje y
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Materias',
                    font: {
                        size: 20
                    }
                },
                legend: {
                    display: false //Muestra las leyendas de grafica 
                }
            }
        }
    });
</script>
{% endblock %}