{% extends 'baseinicio.html' %}

{% block title %}{{ super() }} - Cedula{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <h class="h4">Generar Cédula</h>
</head>
<body>
    <form id="miFormulario" method="post" action="/generar_pdf">
        <div class="container-xl">
            <div class="row mt-4">
                <div class="col">
                </div>
                <div class="text-center">
                    <label class="col" for="inicial">fecha desde:</label>
                    <input class="col-5" id="inicial" type="date" name="inicial" pattern="\d{4}-\d{2}-\d{2}" title="Ingresa la fecha con el formato correcto" />
                    <label class="col" for="final">a</label>
                    <input class="col-5" id="final" type="date" name="final" pattern="\d{4}-\d{2}-\d{2}" title="Ingresa la fecha con el formato correcto" />
                </div>
            </div>
            <div class="row mt-3">
                <div class="text-center">
                    <label class="col" for="inicial">Bitácora :</label>
                    <input class="col-10" id="bit" name="bit" placeholder="Bitácora" />
                </div>
            </div>
            <div class="row mt-3">
                <div>
                    <input id="r_con" type="submit" class="btn btn-success col-12" value="Busqueda" />
                </div>
            </div>
        </div>
    </form>
</body>
{% endblock %}