{% extends 'baseinicio.html' %}

{% block title %}Turnado - {{ super() }}{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <form action="/actualizar" method="post">
        <p class="h5">Bit&#225;cora</p>
        <input class="col-12" type="text" name="bit" id="bit" value={{update.bitacora_expediente}} readonly>

        <p class="h5">Tipo ingreso</p>
        <select class="form-select" aria-label="Default select example" name="ti" id="ti">
            <option value="0" selected>Selecciona Tipo ingreso</option>
            {% for o in ti %}
            <option value="{{o.id}}">{{o.tipo_ingreso }}</option>
            {% endfor %}
        </select>

        <p class="h5" id="lta" style="display: none;">Tipo asunto</p>
        <select class="form-select" aria-label="Default select example" name="ta" id="ta" style="display: none;">
            <option value="0" selected>Selecciona Tipo Asunto</option>
            {% for ta in asu %}
            <option value="{{ ta.id }}">{{ ta.tipo }}</option>
            {% endfor %}
        </select>

        <p class="h5">Materia</p>
        <select class="form-select" aria-label="Default select example" id="mat" name="mat">
            <option value="0" selected>Selecciona Materia</option>
            {% for m in mat %}
            <option value="{{ m.id }}">{{ m.materia }}</option>
            {% endfor %}
        </select>

        <p class="h5">Tr&#225;mite</p>
        <select class="form-select" aria-label="Default select example" id="tra" name="tra">
            <option class="no-eliminar" value="0" selected>Selecciona Tramite</option>
        </select>

        <p class="h5">Descripci&#243;n</p>
        <select class="form-select custom-select" aria-label="Default select example" id="des" name="des">
            <option value="0" selected>Selecciona Descripci&#243;n</option>
            {% for d in des %}
            <option value="{{ d.id }}">{{ d.descripcion }}</option>
            {% endfor %}
        </select>

        <p class="h5">Procedencia</p>
        <select class="form-select" aria-label="Default select example" id="pro" name="pro">
            <option value="0" selected>Selecciona Procedencia</option>
            {% for p in pro %}
            <option value="{{ p.id }}">{{ p.procedencia }}</option>
            {% endfor %}
        </select>

        <p class="h5">Clave proyecto</p>
        <input class="col-12" name="cp" id="cp" value="{{update.clave_proyecto}}"/>

        <p class="h5">Cadena de valor</p>
        <select class="form-select" aria-label="Default select example" id="cv" name="cv">
            <option value="0" selected>Selecciona Cadena de valor</option>
            {% for c in cad_val%}
            <option value="{{ c.id }}">{{ c.cadena_valor }}</option>
            {% endfor %}
        </select>

        <p class="h5">Raz&#243;n social</p>
        <input class="col-12" name="rs" id="rs" value="{{update.razon_social}}"/>

        <p class="h5">Tipo de persona</p>
        <select class="form-select" aria-label="Default select example" id="tp" name="tp">
            <option value="0" selected>Selecciona Tipo persona</option>
            {% for t in tp%}
            <option value="{{ t.idtpers }}">{{ t.tipo_persona }}</option>
            {% endfor %}
        </select>

        <p class="h5">Persona que ingresa el tr&#225;mite</p>
        <input class="col-12" name="pit" id="pit" value="{{update.persona_ingresa}}"/>

        <p class="h5">Direcci&#243;n general</p>
        <select class="form-select" aria-label="Default select example" id="dg" name="dg">
            <option selected value="0">Selecciona Direcci&#243;n general</option>
            {% for d in dirg %}
            <option value="{{ d.id }}">{{ d.siglas }}</option>
            {% endfor %}
        </select>

        <p class="h5">Responsable</p>
        <select class="form-select" aria-label="Default select example" id="res" name="res">
            <option selected value="0">Responsable</option>
            {% for p in res %}
            <option value="{{ p.idpers }}">{{ p.nombre }}</option>
            {% endfor %}
        </select>

        <p class="h5">Llave de pago</p>
        <input class="col-12" name="llp" id="llp" value="{{update.llave_pago}}"/>

        <div class="row mt-4 ">
            <div class="col">
                <label for="tt">Tr&#225;mites totales:</label>
                <input name="tt" id="tt" />
            </div>
            <div class="col">
                <label for="cup">Cuota de pago(MXN):</label>
                <input name="cup" id="cup" />
            </div>
            <div class="col">
                <label for="cup">Monto total(MXN):</label>
                <input name="mot" id="mot" />
            </div>
        </div>

        <p class="h5">Contenido</p>
        <textarea id="con" name="con" class="col-12" rows="4" cols="50">{{update.contenido}} </textarea>

        <input class="col-12" name="tec" id="tec" value="{{current_user.login}}" hidden /> <!--El login del usuario activo sirve para identificar el id que le corresponde y pueda ser ingresado-->

        <p class="h5">Observaciones</p>
        <textarea id="obs" name="obs" class="col-12" rows="4" cols="50">{{update.observaciones}}</textarea>

        <p class="h5">Antecedente</p>
        <input class="col-12" name="ant" id="ant" value="{{update.antecedentes}}"/>

        <p class="h5">Clave de documento</p>
        <input class="col-12" name="cd" id="cd" value="{{update.clave_documento}}"/>

        <p class="h5">Fecha de documento</p>
        <input type="date" class="col-12" name="fd" id="fd" value="{{update.fecha_documento}}"/>

        <p class="h5">N&#250;mero de contrato CNH</p>
        <input class="col-12" name="cnh" id="cnh" value="{{update.cnh}}"/>

        <p class="h5">Permiso CRE</p>
        <input class="col-12" name="cre" id="cre" value="{{update.permiso_cre}}"/>

        <p class="h5">Con copia</p>
        <input class="col-12" name="cc" id="cc" value="{{update.con_copia}}"/>

        <input id="guardar" type="submit" class="btn btn-success col-12 mt-4 mb-4" value="Guardar cambios" />
    </form>
</body>
<script>
    None = ""
    // Acceder al objeto JSON pasado a la plantilla
    var updateData = {{ update | safe}};// La funcion safe es para asegurarse de que el JSON sea seguro

    $('#mat').change(function () { // defines el elemento que usara esta funcion al momento de cambio
        var materia_id = $(this).val();
        if (materia_id) {
            $.ajax({
                url: '/ingreso/' + materia_id, // ruta en donde encontrara la funcion de python
                type: 'GET',// metodo que recopila la informacion
                dataType: 'json',// tipo de archivo que espera la funcion
                success: function (data) {
                    // Vaciar el select de las opciones adicionales, pero no las marcadas con "no-eliminar"
                    $('#tra option:not(.no-eliminar)').remove();
                    /*llenado del elemeto afectado */
                    $.each(data, function (key, value) {
                        $('#tra').append($('<option>', {
                            value: value.idtram,
                            text: value.cofemer
                        }));
                    });
                }
            });
        }
        else {
            // Vaciar el select si no se ha seleccionado una materia
            $('#tra').empty();
        }
    });

    // Manipular el objeto JSON y actualizar el contenido
    $("#ti").val(updateData.tipo_ingreso);
    $("#mat").val(updateData.materia);
    $('#mat').change();// ejecuta la funcion de cambio de materia para que llene los datos al momento de seleccionar una opcion de autocompletado
    setTimeout(function () {// funcion de delay para dejar cargar mat .change
        // Aqui el codigo que se tiene que ejecutar con retardo
        $('#tra').val(updateData.tramite);
    }, 500)

    if (updateData.descripcion == None) {
        $("#des").val("0");
    }
    else {
        $("#des").val(updateData.descripcion);
    }
        

    $("#pro").val(updateData.procedencia);

    if (updateData.cadena_valor == None) {
        $("#des").val("0");
    }
    else {
        $("#cv").val(updateData.cadena_valor);
    }
    
    $("#tp").val(updateData.tipo_persona);
    $("#dg").val(updateData.dg);
    $("#res").val(updateData.responsable);
</script>
{% endblock %}