<!--Es la base del proyecto en html estos componentes de aqui simpre aparreceran anque cambies a otro html de los que esten integrados en el proyecto-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}AAR{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{url_for('static',filename='img/icono.ico')}}" />
    {% block styles %}
    <style>
        body {
            background-color: #eeeee4; /* Cambia #****** al color que desees */
        }
    </style>
    {% endblock %}
</head>
<body bgcolor="red">
    <div class="container-xl">
        <nav class="navbar navbar navbar-ligth" style="background-color: #9CD03B; ">
            <img src="{{url_for('static',filename='img/AseaM.png')}}" class="rounded float-right" />
            <p class="h1">Unidad de Gestión Industrial</p>
            <div>
                <a style="background-color: #EEEEE4;" class="btn btn-light navbar-brand bi bi-escape" href="{{url_for('login.Logout')}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-escape" viewBox="0 0 16 16">
                        <path d="M8.538 1.02a.5.5 0 1 0-.076.998 6 6 0 1 1-6.445 6.444.5.5 0 0 0-.997.076A7 7 0 1 0 8.538 1.02Z" />
                        <path d="M7.096 7.828a.5.5 0 0 0 .707-.707L2.707 2.025h2.768a.5.5 0 1 0 0-1H1.5a.5.5 0 0 0-.5.5V5.5a.5.5 0 0 0 1 0V2.732l5.096 5.096Z" />
                    </svg>
                </a>
                <i class="row mt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                    </svg>
                </i>
            </div>
        </nav>
        <ul class="nav nav-underline" style="background-color: #154c79">
            <li class="nav-item">
                <a class="btn btn-success" href="/home">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z" />
                        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z" />
                    </svg>
                </a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button style="color:#ffffff" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ingresar
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/ingreso/">Ingreso</a></li>
                        <li><a class="dropdown-item" href="/ingresom">Ingreso Múltiple</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="btn" href="/turnado" style="color:#ffffff">Turnado</a>
            </li>
            <li class="nav-item">
                <a class="btn" href="/cedula" style="color:#ffffff">Cédula</a>
            </li>
            <li class="nav-item">
                <a class="btn" id="con" href="/consulta" style="color:#ffffff">Consultas</a>
            </li>
        </ul>
        <div class="container mt-3">
            {% block content %}{% endblock %}
        </div>
        <!--Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                // Utilizando jQuery para prevenir el envío del formulario con Enter
                $('#miFormulario').on('keypress', function (e) {
                    // Verificar si la tecla presionada es 'Enter'
                    if (e.which === 13) {
                        // Evitar el envío del formulario
                        e.preventDefault();
                        // Puedes realizar otras acciones aquí si lo necesitas
                    }
                });
            });
        </script>
    </div>
</body>
</html>
