{% extends 'baseinicio.html' %}

{% block title %}Cedula- {{ super() }}{% endblock %}

{% block content %}
<head>
    <script defer src="{{ url_for('static', filename='js/fun_home.js') }}"></script>
</head>
<h1 class="h4">Consultas SISET</h1>
<form id="1" method="post" action="/">
    <div class="container-xl">
        <div class="row mt-4">
            <div class="col">
                <p class="h5">Fecha Ingreso</p>
            </div>
            <div class="text-center">
                <label class="col" for="inicial">fecha desde:</label>
                <input class="col-5" id="inicial" type="date" name="inicial" required />
                <label class="col" for="final">a</label>
                <input class="col-5" id="final" type="date" name="final" required />
            </div>
        </div>
        <div class="row mt-3">
            <div class="text-center">
                <label class="col" for="inicial">Bitacora :</label>
                <input class="col-10" id="final" name="fecha_final" placeholder="Bitacora" required />
            </div>
        </div>
        <div class="row mt-3">
            <div>
                <input id="r_con" type="submit" class="btn btn-success col-12" value="Busqueda" />
            </div>
        </div>
    </div>
</form>
{% endblock %}